    <!-- FOOTER -->
    <!-- Footer Start -->
    <footer class="footer mt-4 text-bg-light py-5">
        <div class="container">
          <div class="row">
            <!-- Column 1 -->
            <div class="col-md-4">
              <h5>About Yavin</h5>
              <p>
                At our company, designing office spaces is our passion. We take pride in our 
                completed projects that reflect our dedication and expertise in creating functional 
                and aesthetically pleasing work environments.
              </p>
            </div>
            <!-- Column 1 -->
  
            <!-- Column 2 -->
            <div class="col-md-4">
              <h5>Links</h5>
              <ul class="list-unstyled">
                <li class="mb-2">Important: <a href="#">Terms & Conditions</a>, <a href="#">Privacy Policy</a></li>
                <li class="mb-2">Useful: <a href="#">Icon Library</a>, <a href="#">Ilustrations</a></li>
                <li class="mb-2">Menu: <a href="#home">Home</a>, <a href="#details">Details</a>, <a href="#services">Services</a>, <a href="#contact">Contact</a></li>
              </ul>
            </div>
            <!-- Column 2 -->
  
            <!-- Column 3 -->
            <div class="col-md-4">
              <div class="d-flex gap-3">
                <a href="#"><i class="fab fa-facebook fa-2x text-primary"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x text-primary"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x text-primary"></i></a>
                <a href="#"><i class="fab fa-pinterest fa-2x text-primary"></i></a>
              </div>

              <div>
                <p>We would love to hear from you <span class="text-primary fw-bold">contact@site.com</span></p>
              </div>
            </div>
            <!-- Column 3 -->
          </div>
        </div>
      </footer>
      <!-- Footer End -->